site_name: AceStack
site_url: https://acestack-org.github.io/docs
theme:
  name: material
  features:
    - navigation.tabs
  favicon: images/favicon-48.png
  logo: images/favicon-48.png

markdown_extensions: 
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg